#nav_bar{
    left:auto;
    left:88em;
    width: 4in;
    position: relative;
    background-color: black;
    color: rgb(173, 172, 236);
    text-decoration-color: rgb(80, 57, 207);
    height: 40px;
}
ul{

    position: relative;
    left: auto;
    right: auto;
    font-family: fantasy;
    font-size: x-large;
    height: auto;
    color:rgba(29, 167, 59, 0.548)
}
#search{
    top: auto;
    bottom: auto;
    right:auto;
    left:109em;
    position: relative;
    color: black;
}